---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../components/Pagination.astro';
import PostPreview from '../../components/PostPreview.astro';
import Subscribe from '../../components/Subscribe.astro';
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
    const paginated = paginate(posts, { pageSize: siteConfig.postsPerPage || 4 });
    return paginated.map((pageData) => ({
        ...pageData,
        props: {
            ...pageData.props,
            latestSlug: posts[0].id,
        },
    }));
}

type Props = { page: Page<CollectionEntry<'blog'>>, latestSlug: string };

const { page, latestSlug } = Astro.props;
const blog = page.data;
---

<BaseLayout title="Blog" description="创作手记及更新日志" image={{ src: '/title.png', alt: 'The preview of the site' }} showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">日志</h1>
    {
        blog.map((post) => (
            <div>
                {post.id === latestSlug && <sup class="inline text-xs text-white bg-gray-500 rounded px-1 py-px">NEW</sup>}
                <PostPreview post={post} class="mb-10 sm:mb-12"/>
            </div>
        ))
    }
    <Pagination page={page} class="my-16 sm:my-24" />
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
