---
type Props = {
    baseData?: boolean;
    dlcData?: boolean;
    level?: number;
    introHtml?: string;
};

const { baseData, dlcData, level, introHtml } = Astro.props as Props;

const basename = '《后汉稽异录》';
const dlcname = '《后汉稽异录外传：星命诀》';

const isRegionalTrait = introHtml && introHtml.includes('trait_00_regional') && introHtml.includes('地域特性');
---

{
    !baseData && !dlcData && !introHtml ? (
        <div>背景人物。</div>
    ) : (
        <>
            <h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">介绍</h2>
            {introHtml ? (
                <p>
                    {isRegionalTrait && (
                        <>
                            {baseData && basename}
                            {baseData && dlcData && '与'}
                            {dlcData && dlcname}中的
                        </>
                    )}
                    <span set:html={introHtml} />
                    {isRegionalTrait && '。'}
                </p>
            ) : (
                <p>
                    {baseData && basename}
                    {baseData && dlcData && '与'}
                    {dlcData && dlcname}中的
                    {level === 1 ? (
                        <a href="../trait_00_personal" style="color: #5bae23; text-shadow: 0 0 8px #5bae23, 0 0 12px #5bae23;">
                            顶级专属个人特性
                        </a>
                    ) : level === 2 ? (
                        <a href="../trait_00_personal" style="color: #5bae22;">
                            专属个人特性
                        </a>
                    ) : level === 3 ? (
                        <a href="../trait_00_personal" style="color: #de1c31;">
                            负面个人特性
                        </a>
                    ) : (
                        <a href="../trait_00_personal">个人特性</a>
                    )}
                    。
                </p>
            )}
        </>
    )
}
